<div class="ui centered container" style="padding-top: 2rem; max-width: 520px;">

  <div class="ui top attached header">
    <i class="shipping fast icon"></i>
    <div class="content">
      Paket erstellen
      <div class="sub header">Versandinformationen ausfüllen</div>
    </div>
  </div>

  <div class="ui attached segment">
    <form class="ui form" (ngSubmit)="addShipment()">

      <!-- Absender -->
      <div class="ui secondary segment">
        <h4 class="ui header">Senderdaten</h4>

        <div class="field">
          <label>Name</label>
          <input [(ngModel)]="sender.name" name="senderName" placeholder="Max Mustermann" required>
        </div>

        <div class="two fields">
          <div class="field">
            <label>Straße</label>
            <input [(ngModel)]="sender.street" name="senderStreet" placeholder="Musterstraße" required>
          </div>

          <div class="field">
            <label>Hausnummer</label>
            <input [(ngModel)]="sender.houseNumber" name="senderHouseNumber"
                   placeholder="27" maxlength="6"
                   pattern="^[0-9]{1,3}[a-zA-Z]?(\/[0-9]{1,2})?$" required>
          </div>
        </div>

        <div class="three fields">
          <div class="field">
            <label>PLZ</label>
            <input type="number" [(ngModel)]="sender.zip" name="senderZip" min="1000" max="9999" required>
          </div>

          <div class="field">
            <label>Ort</label>
            <input [(ngModel)]="sender.city" name="senderCity" placeholder="Linz" required>
          </div>

          <div class="field">
            <label>Land</label>
            <input [(ngModel)]="sender.country" name="senderCountry" placeholder="Austria" required>
          </div>
        </div>

      </div>

      <!-- Empfänger -->
      <div class="ui secondary segment">
        <h4 class="ui header">Empfängerdaten</h4>

        <div class="field">
          <label>Name</label>
          <input [(ngModel)]="receiver.name" name="receiverName" placeholder="Michaela Musterfrau" required>
        </div>

        <div class="two fields">
          <div class="field">
            <label>Straße</label>
            <input [(ngModel)]="receiver.street" name="receiverStreet" placeholder="Musterweg" required>
          </div>

          <div class="field">
            <label>Hausnummer</label>
            <input [(ngModel)]="receiver.houseNumber" name="receiverHouseNumber"
                   placeholder="10" maxlength="6"
                   pattern="^[0-9]{1,3}[a-zA-Z]?(\/[0-9]{1,2})?$" required>
          </div>
        </div>

        <div class="three fields">
          <div class="field">
            <label>PLZ</label>
            <input type="number" [(ngModel)]="receiver.zip" name="receiverZip" min="1000" max="9999" required>
          </div>

          <div class="field">
            <label>Ort</label>
            <input [(ngModel)]="receiver.city" name="receiverCity" placeholder="Perg" required>
          </div>

          <div class="field">
            <label>Land</label>
            <input [(ngModel)]="receiver.country" name="receiverCountry" placeholder="Austria" required>
          </div>
        </div>


      </div>

      <!-- Paket -->
      <div class="ui secondary segment">
        <h4 class="ui header">Paketdetails</h4>

        <div class="four fields">
          <div class="field">
            <label>Länge (cm)</label>
            <input type="number" [(ngModel)]="parcel.length" name="parcelLength" min="1" max="1000" required>
          </div>

          <div class="field">
            <label>Breite (cm)</label>
            <input type="number" [(ngModel)]="parcel.width" name="parcelWidth" min="1" max="1000" required>
          </div>

          <div class="field">
            <label>Höhe (cm)</label>
            <input type="number" [(ngModel)]="parcel.height" name="parcelHeight" min="1" max="1000" required>
          </div>

          <div class="field">
            <label>Gewicht (kg)</label>
            <input type="number" [(ngModel)]="parcel.weight" name="parcelWeight" min="1" max="1000" required>
          </div>
        </div>
      </div>

      <button class="ui fluid primary button" type="submit">
        <i class="paper plane icon"></i>
        Versand starten
      </button>
        <button type="button" class="ui fluid delete button" (click)="resetForm()">
        <i class="undo icon"></i>
        Zurücksetzen
        </button>
    </form>
  </div>

  @if(errorMessage){
    <div class="ui negative message">
      {{ errorMessage }}
    </div>
  }

  @if(newShipment){
    <div class="ui positive message">
      <div class="header">Shipment angelegt</div>
      <p><strong>Tracking-ID:</strong> {{ newShipment.trackingId }}</p>
      <p><strong>Preis:</strong> {{ newShipment.price }} €</p>
    </div>
  }
</div>